<%- include("partials/header.ejs") %>


<div class="b">
  <p class="b">Convert to text message,in minutes</p>
</div>


<div class="a">

  
  <div class="col d-flex align-items-start">
    <div class="icon-square text-body-emphasis bg-body-secondary d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3 cc">
      <svg class="bi" width="3em" height="3em"><use xlink:href="#toggles2"></use></svg>
    </div>
    <div>
      <h2 class="fs-2 text-body-emphasis aa">Live audio</h2>
      <p class="bb">Start live recording and get the text (Downloding the text option is also available.)</p>
      <a href="#" class="btn btn-primary">
        Start recording 🔴
      </a>
    </div>
  </div>


  <div class="col d-flex align-items-start">
    <div class="icon-square text-body-emphasis bg-body-secondary d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3 cc">
      <svg class="bi" width="3em" height="3em"><use xlink:href="#cpu-fill"></use></svg>
    </div>
    <div>
      <h2 class="fs-2 text-body-emphasis aa">MP3 files</h2>
      <p class="bb">Upload audio file as MP3 and extract the text. </p>
      <a href="#" class="btn btn-primary">
        Upload your files->
      </a>
    </div>
  </div>


</div>

  <%- include("partials/footer.ejs") %>